body {
	color: black;
	background: #f1eee5;
	font-family: Helvetica, arial, sans-serif;
	font-family: Helvetica;
	text-align: center;
}
div {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
h1 {
	font-size: 18px;
	font-weight: normal;
}
p {
	text-transform: uppercase;
}
img {
	width: 250px;
}