@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Open Sans', arial, verdana, serif;
	font-weight: nomal;
	line-height: 1.7em;
	font-size: 20px;
}

logo {
	border-bottom: 1px solid black;
}

h1 {
	font-weight: bold;
	font-size: 1.5em
}

h2 {
	font-size: 1em;
}

h3{
	font-weight: normal;
	font-size: 1em;
}

.clearfix:after { 
content: ".";
visibility: hidden; 
display: block;
height: 0;
clear: both;
}

img {
	width:20%;
}
