* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Open Sans', arial, verdana, serif;
	font-weight: nomal;
	line-height: 1.7em
}

nav {
	font-family: Arial, sans-serif;
	text-align: center;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid #000000;
}

a {
	background-color: yellow
	display: block;
	padding: 30px;
	text-decoration: none;
}

h1 {
  	text-transform: uppercase;
  	font-size: 1em;
  	font-weight: normal;
  	letter-spacing: 5px;
}

h2 {
	font-size: 2em;
  	font-weight: bold;
  	text-transform: uppercase;
}

.top {
	text-align: center;
	padding: 40px;

}

.gallery img {
	float:left;
	width: 33.33%;
	display: inline-block;
}

footer {
	text-align: center;
	padding top: 30px;
}

.clearfix:after { 
	content: ".";
	visibility: hidden; 
	display: block;
	height: 0;
	clear: both;
}
